.content {
    padding-top: 200px;
    /* background-image: linear-gradient(-128deg, rgba(255, 181, 32, 0.93) 3%, rgba(239, 39, 153, 0.93) 88%, rgba(237, 18, 171, 0.93) 100%)!important; */
    /* background-image: linear-gradient(-128deg, #0093DD 3%, #9ea598 88%, #ED891A 100%)!important; */
    background-image: linear-gradient(-128deg, #094c83 5%, #01102f 80%, #094c83 100%)!important;
    /* background-image: linear-gradient(to right, #0093DD 0%, #68B92E 51%, #ED891A 100%)!important; */
}

.button {
    transition: all 0.3s ease;
    background-color: #FFC145;
    height: 450px;
    width: 450px;
    line-height: 450px;
    border-radius: 225px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    cursor: pointer;
    padding: 0px;
    border: 0px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #012880;
    background-image: linear-gradient(-180deg, #FFC145 0%, rgb(228, 250, 34) 100%);
    box-shadow: 0 1rem 1.25rem 0 #8a2a21, 0 -0.25rem 1.5rem #8a2a21 inset, 0 0.75rem 0.5rem #8a2a21 inset, 0 0.25rem 0.5rem 0 #8a2a21 inset;
    /* box-shadow: 3px 4px 0px 0px #8a2a21; */
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    transition: all .3s ease-in-out;
    /* background-color: #c62d1f; */
    border: 1px solid #d02718;
    display: inline-block;
    color: #ffffff;
    text-shadow: 0px 1px 0px #810e05;
}

span {
    font-size: 5rem;
    line-height: 5rem;
    transition: all .3s ease-in-out;
}

.zona {
    padding-top: 150px;
    color: #f0e20c;
}

.pops {
    font-size: 30px!important;
}

.button:hover {
    transform: scale(1.1);
}

.button:hover span {
    transform: scale(1.1);
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:focus {
    outline: none;
}

#modal-container .modal-background .modal {
    padding: 70px!important;
}

html,
body {
    font-family: Montserrat, sans-serif!important;
}

.flex-rows {
    text-align: center!important;
}

#modal-container .modal-background .modal h2 {
    font-size: 100px!important;
    line-height: 120px!important;
    font-weight: bold;
    margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
    font-size: 50px!important;
    font-weight: bold;
    line-height: 60px!important;
}
